@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply flex flex-row bg-secondary rounded-xl px-2 py-2 my-4 mx-2 
        shadow-black shadow-lg text-white;
    }
}